mat-card {
    max-width: 800px;
    min-width: 400px;
    margin: 2em auto;
}

mat-card-actions {
    margin-left: 1em;
}

.book-library-icon {
    margin-bottom: -6px;
}

.book-item {
    margin-right: 1em;
}

.book-item-icon {
    margin-bottom: -6px;
}

.login-icon {
    font-size: 20px;
    height: 20px;
    margin-bottom: -4px;
    font-weight: 600;
    color: black;
}